# Node modules
node_modules/

# Expo / React Native specific
.expo/
*.jks
*.p12
*.key
*.store
*.keystore
android/app/src/main/assets/shell-app.json
ios/Pods/
ios/.symlinks/
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj
!ios/Podfile.lock # Keep Podfile.lock for consistent builds

# Android specific
android/.gradle/
android/app/build/
android/build/
android/app/.cxx/
android/app/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
android/*.iml
**/*.iml
.idea/

# macOS specific
.DS_Store

# VS Code specific
.vscode/

# Local configuration files
*.env
.env.*
config.js # If you have a local config.js that's not meant to be shared